version: "3.4"
services:
  traefik:
    image: traefik:v2.7
    container_name: traefik
    command:
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  adapter:
    image: brighid/commands
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "80"
    platform: linux/arm64
    volumes:
      - ./bin/Service/Debug/linux-musl-arm64/publish:/app
      - ~/.aws:/home/brighid/.aws
    environment:
      AWS_PROFILE: ${AWS_PROFILE}
      AWS_XRAY_DAEMON_ADDRESS: xray:2000
      AWS_XRAY_TRACING_NAME: Commands
      AWS_XRAY_CONTEXT_MISSING: LOG_ERROR
      ASPNETCORE_ENVIRONMENT: local
      Environment: local
      CONFIGURATION: Debug
      AWS_REGION: us-east-1
      Database__Host: db
      Database__Name: ${DB_NAME}
      Database__User: ${DB_USER}
      Database__Password: ${DB_PASSWORD}
      Auth__MetadataAddress: ${IDENTITY_METADATA_URL}
      Auth__ValidIssuer: ${IDENTITY_ISSUER}
      Identity__IdentityServerUri: ${IDENTITY_ISSUER}
      SkipSwagger: "true"
    labels:
      - traefik.enable=true
      - traefik.http.routers.adapter.rule=Host(`localhost`)
      - traefik.http.routers.adapter.entrypoints=web
      - traefik.http.services.adapter.loadbalancer.server.scheme=h2c

  db:
    image: mariadb/server:10.5
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_RANDOM_ROOT_PASSWORD: "true"
    volumes:
      - my-db:/var/lib/mysql

  xray:
    image: public.ecr.aws/xray/aws-xray-daemon:latest
    command: -o
    volumes:
      - ~/.aws:/home/xray/.aws
    environment:
      AWS_PROFILE: ${AWS_PROFILE}
      AWS_REGION: us-east-1

volumes:
  my-db: null
