{
  "openapi": "3.0.1",
  "info": {
    "title": "Service",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://commands.brigh.id"
    }
  ],
  "paths": {
    "/commands/{name}": {
      "get": {
        "tags": [
          "Command"
        ],
        "operationId": "Commands:GetCommandParseInfo",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CommandParserRestrictions"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandParserRestrictions"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandParserRestrictions"
                }
              }
            }
          }
        }
      }
    },
    "/commands/{name}/execute": {
      "post": {
        "tags": [
          "Command"
        ],
        "operationId": "Commands:ExecuteCommand",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteCommandRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteCommandRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                }
              }
            }
          },
          "202": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CommandParserRestrictions": {
        "type": "object",
        "properties": {
          "argCount": {
            "type": "integer",
            "format": "int32"
          },
          "validOptions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ExecuteCommandRequest": {
        "type": "object",
        "properties": {
          "arguments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "options": {
            "type": "object",
            "additionalProperties": { },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ExecuteCommandResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "nullable": true
          },
          "replyImmediately": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      }
    }
  }
}