name: Deploy
on:
  workflow_call:
    secrets:
      role:
        description: Role to use when performing the deployment.
        required: true

    inputs:
      environment:
        description: Environment to use for this deployment.
        type: string
        required: true

      artifacts-location:
        description: S3 URL to look for deployment artifacts at.
        type: string
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    concurrency: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.role }}
          aws-region: us-east-1

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1

      - name: Display .NET Info
        run: dotnet --info

      - name: Deploy
        run: |
          dotnet run \
            --project cicd/Cicd.DeployDriver/Cicd.DeployDriver.csproj -- \
            --artifacts-location ${{ inputs.artifacts-location }} \
            --environment ${{ inputs.environment }}
